name: Build and publish

on:
  push:
    branches:
      - main
    paths:
      - pyproject.toml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  POETRY_VERSION: "1.7.1"
  CONTAINER_REGISTRY: "${{ vars.CONTAINER_REGISTRY }}"
  CONTAINER_IMAGE: "${{ vars.CONTAINER_IMAGE }}"

jobs:
  variables:
    name: Set environment variables
    runs-on: ubuntu-latest
    container:
      image: python:3.12-alpine
    outputs:
      version: "${{ env.VERSION }}"
      dockerhub-image: "${{ env.CONTAINER_IMAGE }}:latest"
      dockerhub-image-version: "${{ env.CONTAINER_IMAGE }}:${{ env.VERSION }}"
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install poetry
        run: pip install poetry==$POETRY_VERSION
      - name: Save version to environment
        run: echo "VERSION=$(poetry version -s)" >> "$GITHUB_ENV"
      - name: Display version
        run: echo "Version ${{ env.VERSION }}"
  build:
    name: Build images
    runs-on: ubuntu-latest
    needs: variables
    container:
      image: docker:20.10
    services:
      dind:
        image: docker:20.10-dind
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          pull: true
          push: true
          tags: ${{ needs.variables.outputs.dockerhub-image }},${{ needs.variables.outputs.dockerhub-image-version }}
  github-pages:
    environment:
      name: docs
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    container:
      image: python:3.12-slim
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Install poetry
        run: pip install poetry==$POETRY_VERSION
      - name: Install dependencies
        run: poetry install --only main
      - name: Export docs
        run: poetry run python ./docs/export_openapi.py
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./public"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  create-release:
    name: Create release
    runs-on: ubuntu-latest
    needs: [ variables,build ]
    timeout-minutes: 5
    steps:
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ needs.variables.outputs.version }}
          tag_name: ${{ needs.variables.outputs.version }}
          target_commitish: ${{ github.sha }}
          generate_release_notes: true
